<% if resource.errors.any? %>
  <% resource.errors.each do |key, message| %>
    <span id="password-hint" class="hint"><%= key %></span>
    <span id="password-hint" class="hint"><%= message %></span>
  <% end %>
<% end %>