<div class="wrapper">
  <div class="wrapper-btn">
    <div class="wrapper-buttons">
      <%= link_to button_tag("Статистика", class: "btn-submit roboto-font"), admin_statistics_path, class:"btn-submit roboto-font" %>
<!--      <button class="btn-submit roboto-font"><%#= link_to "Редагування лендінгу", edit_admin_welcome_path(1) %></button>-->
      <%= link_to button_tag("Курси", class: "btn-submit roboto-font"), admin_courses_path, class:"btn-submit roboto-font" %>
      <%= link_to button_tag("Вийти", class: "go-out-btnroboto-font"), destroy_admin_session_path, method: :delete, class:"go-out-btn btn-submit roboto-font" %>
    </div>
    <div class="under-form-section">
      <span class="roboto-font">Made by Movadex</span>
    </div>
  </div>
</div>