<video src="<%= @lesson.video.url %>" controls></video>
<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<% if @lesson.next %>
  <%= link_to "Next", course_lesson_path(@course, @lesson.next), remote: true %>
<% end %>