@import 'admin';

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #E5E5E5;
}

.wrapper-form {
  display: grid;
  height: 100vh;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
}

.oswald-sans-serif500 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
}

form {
  align-self: center;
  justify-self: center;
  width: 454px;
  background: #FFFFFF;
  box-shadow: 0 4px 5px rgba(236, 211, 133, 0.47), 0 0 20px rgba(236, 211, 133, 0.47);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 24px 20px 24px;
}

form .wrapper-image {
  width: 100%;
  display: grid;
}

form .wrapper-image img {
  justify-self: center;
  padding: 48px 24px 44px 24px;
}

.wrapper-inputs {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 16px;
}

.roboto-font, ::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.wrapper-inputs .input {
  border: none;
  width: 100%;
  height: 44px;
  background: #F5F5F5 !important;
  border-radius: 2px;
  padding: 14px 16px 14px 16px;
  box-sizing: border-box;
}

.wrapper-inputs .btn-submit {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  height: 44px;
  background: #F2C94C;
  border-radius: 5px;
  outline: none;
  border: none;
  box-sizing: border-box;
}

form .under-form-section {
  text-align: center;
  padding-top: 20px;
}

form .under-form-section span {
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.16);
}

.language-wrapper{
  padding: 10px 0;
  background: #404040;
  text-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
}

.language-wrapper button:focus {
  text-decoration: underline;
}

.language-wrapper button, .language-wrapper button a{
  outline: none;
  border: none;
  background: transparent;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0.06em;
  color: #D1D1D1;
  cursor: pointer;
  transition: .3s;
}

.language-wrapper button a:hover{
  text-decoration: none;
  color: #F2C94C;
}

.language-wrapper .active {
  color: #F2C94C;
}

.language-wrapper button:hover {
  transition: .3s;
  color: #F2C94C;
}

@media screen and (max-width: 550px) {
  body {
    background: #fff;
  }
  form{
    width: 100vw;
    border: none;
    box-shadow: none;
  }
}